---
import styles from "./Navbar.module.css";
---

<nav class={styles.nav_container}>
    <div class={styles.content_container}>
        <div class={styles.links_container}>
            <a href="#">
                INICIO
            </a>
            <a href="#">
                PROYECTOS
            </a>
            <a href="#">
                PROCESO
            </a>
        </div>
        <div class={styles.contact_container}>
            <a class={styles.contact_button} href="#">
                <button>
                    CONTACTO
                </button>
            </a>
        </div>
    </div>
</nav>